<!-- <p>todos works!</p> -->

<!-- <p>todos works!</p> -->

<div class="container">
    <div class="subContainer">
        <!-- <div class="input">
            <input 
                type="text"
                placeholder="Enter Task"
                name="todosAdd"
                [(ngModel)]="todosAdd"
            />
        </div>
        <div class="save">
            <button (click)="addTodos()">Save</button>
        </div> -->
        <app-todos-form></app-todos-form>
    </div>
    <div class="show">
        <!-- <input type="checkbox" id="add" name="add"/> -->
        <app-todos-lists></app-todos-lists>
    </div>
</div>