.container{
    text-align: center;
}

.subContainer{
    display: flex;
    /* text-align: center; */
    margin: 5px;
    padding: 5px;
    margin-left: 40%;
}

.input{
    margin: 5px;
}

.save{
    margin: 5px;
}